extends layout

block content
  h1 #{title}
  h2 Você está diante de uma caverna:
  p Um velho se aproxima e diz: sempre podemos ter sorte ou reves! 
  img(src="imagem", height="80", width="80")
  br
  br
  button(onclick="location.href='http://localhost:3000/game/0';") Sorte ou Reves?
